<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- 相机权限 -->
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application>
        <activity
            android:name=".CameraActivity"
            android:exported="false"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar" />
    </application>

</manifest>
