<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Android 9及以下需要写入外部存储权限 -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application>
        <activity
            android:name=".viewer.ImageViewerActivity"
            android:exported="false"
            android:theme="@style/Theme.ImageViewer" />
    </application>

</manifest>